.drop_start {
  height: 100px;
  display: flex;
  margin: 0 auto;
  border: 2px solid rgba(100, 50, 150, .8);
}

.play_board {
  height: calc(100% - 200px);
  display: flex;
  justify-content: center;
  position: relative;
}

.drop_end {
  height: 100px;
  display: flex;
  margin: 0 auto;
  border: 2px solid rgba(100, 50, 150, .8);
}

.variant_button {
  font-size: 22px;
  padding: 5px 10px;
  border-right: 2px solid rgba(100, 50, 150, .8);
  color: rgba(100, 50, 150, .8);
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  transition: background-color .3s;
}

.variant_button:last-child {
  border: none;
}

.variant_button:disabled {
  cursor: not-allowed;
}

.variant_button:hover:not(:disabled) {
  background-color: rgba(196, 149, 224, 0.7);
}

.bg_canvas {
  max-width: 100%;
  max-height: 100%;
}

.path_canvas {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.active_variant_button {
  background-color: rgba(150, 50, 150, .5);
}

.dialog {
  font-size: 24px;
  margin: auto;
  padding: 40px;
  border-radius: 3px;
  text-align: center;
}

.dialog_text {
  margin-bottom: 40px;
}

.dialog_button {
  font-size: 22px;
  padding: 5px 10px;
  border: 2px solid rgba(100, 50, 150, .8);
  color: rgba(100, 50, 150, .8);
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

[data-result="success"] .active_variant_button {
  background-color: rgb(80, 200, 120);
}

[data-result="fail"] .active_variant_button {
  background-color: rgb(255, 49, 49);
}

.success {
  background-color: rgb(80, 200, 120);
  border: 2px solid rgb(9, 121, 105);
}

.failed {
  background-color: rgb(255, 49, 49);
  border: 2px solid rgb(136, 8, 8);
}

.success::backdrop {
  background: rgba(80, 200, 120, 0.1);
}

.failed::backdrop {
  background: rgba(255, 49, 49, 0.1);
}