.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: auto;
}

.item_container {
  aspect-ratio: 1;
  position: relative;
  display: inline-block;
}

.image_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gabov {
  background-image: url('/gabov/assets/img/AlexanderGabov.jpeg');
}

.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 4vw;
  white-space: nowrap;
  color: #ffffff;
}
.italy {
  background-image: url('/gabov/assets/img/italy.png');
  opacity: 0.3;
}
.ukraine {
  background-image: url('/gabov/assets/img/ukraine.png');
  opacity: 0.3;
}
.finn {
  background-image: url('/gabov/assets/img/finland.png');
  opacity: 0.3;
}
.georgia {
  background-image: url('/gabov/assets/img/georgia.png');
  opacity: 0.3;
}
.deutschland {
  background-image: url('/gabov/assets/img/germany.png');
  opacity: 0.3;	
}
.netherlands {
  background-image: url('/gabov/assets/img/netherlands.svg');
  opacity: 0.3;	
}
.czech {
  background-image: url('/gabov/assets/img/czech.png');
  opacity: 0.3;	
}
.france {
  background-image: url('/gabov/assets/img/france.png');
  opacity: 0.3;	
}
.poland {
  background-image: url('/gabov/assets/img/poland.png');
  opacity: 0.3;	
}
.spanish {
  background-image: url('/gabov/assets/img/spain.png');
  opacity: 0.3;	
}
.japan {
  background-image: url('/gabov/assets/img/japan.png');
  opacity: 0.3;	
}
.vietnam {
  background-image: url('/gabov/assets/img/vietnam.png');
  opacity: 0.3;	
}
.brazil {
  background-image: url('/gabov/assets/img/brazil.png');
  opacity: 0.3;	
}
.armenia {
  background-image: url('/gabov/assets/img/armenia.png');
  opacity: 0.3;	
}
.israel {
  background-image: url('/gabov/assets/img/israel.png');
  opacity: 0.3;		
}
.trex {
  background-image: url('/gabov/assets/img/trex.png');
  opacity: 0.3;			
}

.button_show_dialog {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(125, 35, 209, .6);
  color: white;
  padding: 5px
}

.dialog {
  font-size: 24px;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
}

fieldset {
  margin-bottom: 30px;
}

.legend {
  margin-bottom: 25px;
}

.variant {
  margin-bottom: 10px;
  cursor: pointer;
}

.dialog_button {
  font-size: 22px;
  padding: 5px 10px;
  border: 2px solid rgba(125, 35, 209);
  color: rgba(125, 35, 209);
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}