* {
  margin: 0;
}

.home_button {
  position: fixed;
  width: 50px;
}

.item_conteiner {
  width: 50vw;
  height: 50vw;
  position: relative;
  display: inline-block;
}
.image_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.gabov {
  background-image: url('/gabov/assets/AlexanderGabov.jpeg');
}
.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  white-space: nowrap;
  color: #ffffff;
}
.italy {
  background-image: url('/gabov/assets/italy.png');
  opacity: 0.3;
}
.ukraine {
  background-image: url('/gabov/assets/ukraine.png');
  opacity: 0.3;
}
.finn {
  background-image: url('/gabov/assets/finland.png');
  opacity: 0.3;
}
.georgia {
  background-image: url('/gabov/assets/georgia.png');
  opacity: 0.3;
}
.deutschland {
  background-image: url('/gabov/assets/germany.png');
  opacity: 0.3;	
}
.netherlands {
  background-image: url('/gabov/assets/netherlands.svg');
  opacity: 0.3;	
}
.czech {
  background-image: url('/gabov/assets/czech.png');
  opacity: 0.3;	
}
.france {
  background-image: url('/gabov/assets/france.png');
  opacity: 0.3;	
}
.poland {
  background-image: url('/gabov/assets/poland.png');
  opacity: 0.3;	
}
.spanish {
  background-image: url('/gabov/assets/spain.png');
  opacity: 0.3;	
}
.japan {
  background-image: url('/gabov/assets/japan.png');
  opacity: 0.3;	
}
.vietnam {
  background-image: url('/gabov/assets/vietnam.png');
  opacity: 0.3;	
}
.brazil {
  background-image: url('/gabov/assets/brazil.png');
  opacity: 0.3;	
}
.armenia {
  background-image: url('/gabov/assets/armenia.png');
  opacity: 0.3;	
}
.israel {
  background-image: url('/gabov/assets/israel.png');
  opacity: 0.3;		
}
.trex {
  background-image: url('/gabov/assets/trex.png');
  opacity: 0.3;			
}