* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline-color: #c4d8f7
}

body,
html {
  --rows: 2;
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: fixed;
}


.base {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.header {
  background-color: rgba(150, 33, 200, .5);
  height: 50px;
  font-size: 1rem;
  color: black;
  font-size: 0;
}

.home_button {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
}

.header_text_block {
  vertical-align: middle;
  padding-left: 10px;
  line-height: 1rem;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 50px);
}

.header_text_block > a {
  color: rgba(100, 50, 150, .8);
}

.app_wrapper {
  height: calc(100% - 50px);
}

@media screen and (max-width: 600px) {
  .header_text_block {
    font-size: 0.9rem;
  }
}