.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
}

.link {
  aspect-ratio: 1;
  border-radius: 5px;
  background-color: rgba(150, 50, 150, .5);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(100, 50, 150, .8);
  font-size: 3rem;
  text-align: center;
  padding: 5px;
  font-weight: 600;
}

@media screen and (max-width: 835px) {
  .root {
    grid-template-columns: 1fr 1fr;
  }

  .link {
    font-size: 1.5rem;
  }
}
