.content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.link {
  border-radius: 5px;
  background-color: var(---st-block-background-color);
  text-decoration: none;
  font-size: 3rem;
  padding: 20px 20px 50px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  transition: transform .3s;
}

.link_text {
  color: var(---st-block-link-color);
}

.link:hover {
  transform: scale(1.05);
}

.pseudo_home_button {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent;
}

@media screen and (max-width: 835px) {
  .link {
    font-size: 2rem;
  }
}