.content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.link {
  border-radius: 5px;
  background-color: rgba(150, 50, 150, .5);
  text-decoration: none;
  color:rgba(100, 50, 150, .8);
  font-size: 3rem;
  padding: 20px 20px 50px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width: 835px) {
  .link {
    font-size: 2rem;
  }
}