.app_config_block {
  z-index: 3;
  padding: 0 5px 5px;
  background-color: white;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: calc(100% - 110px);
  top: 110px;
  left: 0;
  overflow: auto;;
}

.app_config_block_item {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(150, 50, 150, .5);
  border-radius: 5px;
  background-color: rgba(150, 50, 150, .5);
}

.app_config_block_item_input_wrapper {
  width: 100%;
}

.app_config_block_input_title {
  font-size: 2rem;
  width: 100%;
}

.app_config_block_item_input {
  display: block;
  width: 100%;
  padding: 0 4px;
  height: 25px;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid rgba(190, 50, 150, .5);
}

.app_controls_block {
  max-width: 1400px;
  margin: 0 auto;
  height: 60px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  background-color: white;
}

.app_controls_block_item {
  width: 100%;
  height: 50px;
  line-height: 25px;
  text-align: left;
}

.app_controls_block_item_button {
  padding: 5px;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(150, 50, 150, .5);
  border: 1px solid rgba(190, 50, 150, .5);
  cursor: pointer;
}

.controls_icon {
  height: 100%;
}

.content_wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 5px 5px;
}

.play_board {
  display: grid;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: rgba(33, 33, 200, .5);
  border-style: solid;
  border-color: darkGrey;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
}

.catch_button {
  z-index: 2;
  border: 1px solid yellow;
  position: absolute;
  width: calc(var(--width) / var(--rows));
  height: calc(var(--height) / var(--rows));
  background-color: rgba(33, 200, 33, .5);
  top: 0;
  left: 0;
  transition: transform var(--interval);
  will-change: unset;
  color: yellow;
  padding: 0;
  font-size: 1rem;
}

.loading_block {
  z-index: 4;
  padding: 5px;
  background-color: white;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: calc(100% - 110px);
  top: 110px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loading_icon {
  width: 50px;
  margin-bottom: 10px;
}


/* titles styles */

.flip_box {
  box-sizing: border-box;
  width: calc(var(--width) / var(--rows));
  height: calc(var(--height) / var(--rows));
  border-width: 0.5px;
  border-style: solid;
  border-color: darkGrey;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip_box_front,
.flip_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip_box_front {
  background-color: rgba(150, 50, 150, .5);
  color: black;
}

.flip_box_back {
  background-color: dodgerblue;
  transform: rotateY(180deg);
  background-size: cover;
  background-repeat: no-repeat;
}

.m_flipped {
  transform: rotateY(180deg);
}

.m_disabled {
  border: 1px solid rgba(150, 150, 150, .5);
  background-color: rgba(150, 150, 150, .5);
  color: rgba(90, 90, 90, 1);
  pointer-events: none;
}

.m_no_border {
  border: none !important;
}

.m_checkbox_input {
  width: 25px;
}

.m_visible {
  visibility: visible;
}

.m_hidden {
  visibility: none;
}

@media screen and (max-width: 600px) {
  .app_controls_block {
    grid-template-columns: 1fr 1fr;
    height: 115px;
  }

  .app_config_block,
  .loading_block {
    height: calc(100% - 165px);
    top: 165px;
  }

  .content_wrapper {
    height: calc(100% - 120px);
  }
}