* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline-color: #c4d8f7
}

body,
html {
  --rows: 2;
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: fixed;
}

.base {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.home_button {
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  top: 5px;
  left: 5px;
  padding: 5px;
  cursor: pointer;
}


.wrapper {
  display: grid;
  position: relative;
  margin: auto auto;
  width: calc(var(--width) - 100px);
  height: calc(var(--height) - 100px);
  background-color: rgba(33, 33, 200, .5);
  border-style: solid;
  border-color: darkGrey;
  border-width: 0 1px 1px 0;
}


.button {
  z-index: 2;
  border: 1px solid yellow;
  position: absolute;
  width: calc((var(--width) - 100px) / var(--rows));
  height: calc((var(--height) - 100px) / var(--rows));
  background-color: rgba(33, 200, 33, .5);
  top: 0;
  left: 0;
  transition: transform var(--interval);
  will-change: unset;
  color: yellow;
  padding: 0;
}


.input_wrapper {
  height: 40px;
  padding: 5px;
  text-align: center;
}

.input {
  display: inline-block;
  padding: 0 4px;
  width: 50px;
  height: 30px;
  border: 1px solid yellow;
}

.input_item_wrapper {
  display: inline-block;
  padding: 0 10px;
}

.content {
  box-sizing: border-box;
  width: calc((var(--width) - 100px) / var(--rows));
  height: calc((var(--height) - 100px) / var(--rows));
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: darkGrey;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: rgba(33, 33, 200, .5);
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  transform: rotateY(180deg);
  background-size: cover;
  background-repeat: no-repeat;
}

.flipped {
  transform: rotateY(180deg);
}

.m_invisible {
  pointer-events: none;
}

.coming_soon {
  height: 20px;
  color: black;
  background-color: rgba(150, 33, 200, .5);
}

.no-border {
  border: none !important;
}